/* @dark_mode Dark mode #disabled */

@media screen {
html {
    -webkit-filter: invert(100%) hue-rotate(180deg) !important;
    background-color: white;
}
img, video, [style*="background-image:"], :fullscreen {
    -webkit-filter: hue-rotate(-180deg) invert(100%) !important;
}
}
/* @no_animations Reduce animations */
* {
  transition: none !important;
}

/* @no_overflow Display full strings */

* {
  text-overflow: unset !important;
}
[data-hovercard-owner-id] * {
  max-width: unset !important;
}

/* show-menu-hotkey.js @menu_hotkey Show/hide menu hotkey (Backtick or Ctrl-Backtick) */
