
/* @dark_mode Dark mode #disabled */

@media screen {
html {
    -webkit-filter: invert(100%) hue-rotate(180deg) !important;
    background-color: white;
}
img:not([src^="images/"]):not([src^="//ssl.gstatic.com/ui/"]):not([src^="https://docs.google.com/"]), video, [style*="background-image:"], iframe {
    -webkit-filter: hue-rotate(-180deg) invert(100%) !important;
}
input[autocomplete=off] {
    color: #888 !important;
}
}
/* @no_animations Reduce animations */
* {
  transition: none !important;
  overscroll-behavior: none;
}

/* Highlight focused/hovered line */

.zA:hover, .zA:focus {
    box-shadow: inset 0 0 10px 0px #808080;
}

/* @nav_labels Labels nav width 240 -> 200 */
div.aeN:not(.bhZ) .wT {
    max-width: 200px !important;    /* @1 @width */
    min-width: 200px !important;    /* @1=width */
}
/*-Labels nav scroll bar: 16px -> 10px */
/*-NOTE: has to add "div." in order to raise the priority */
div.aeN:not(.bhZ) {
    max-width: 210px !important;    /* @1=settings.nav_labels.width+10 */
    min-width: 210px !important;    /* @1=settings.nav_labels.width+10 */
}
/*  @nav_labels_collapsed Collapsed nav expands wider */
div.bhZ.bym div.wT {
    max-width: 300px !important;    /* @1 @width */
    min-width: 300px !important;    /* @1=width */
}
/*-Labels nav scroll bar: 16px */
/*-NOTE: has to add "div." in order to raise the priority */
div.aeN.bhZ.bym {
    max-width: 316px !important;    /* @1=settings.nav_labels_collapsed.width+16 */
    min-width: 316px !important;    /* @1=settings.nav_labels_collapsed.width+16 */
}

/* Compose button */
.z0>.L3 {
    height: 30px !important;
}
.z0 {
    height: 30px !important;
    margin: 4px 0 !important;
}

/* Hide huge blue 'search refinement' buttons */
div[role='toolbar'][aria-label='search refinement'] {
  display:none;
}

/* Email reply text area: add border */
.qz {
    border-top: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
}
/* Reply form uses full width */
.adB .aoI {
    padding: 0 !important;
}
.HM .et {
    padding-left: 6px !important;   /* @1 @padding Padding */
    padding-right: 6px !important;  /* @1=padding */
}
.Ur {
    margin-left: 6px !important;    /* @1=padding */
}
table.IG {
    padding: 0px 6px !important;    /* @2=padding */
}

/* Clearer chat contact list sections separator */
.WR .Xa .X9 {
  background: linear-gradient(180deg, #E0E0E0 0, #FFF 1rem) !important;
}

/* Highlight one email body */
/*
div[role=list] > div[role=listitem] > div.Bk > div.G2 > div:hover {
    box-shadow: inset 0 0 1px 0px #808080;
}
*/

/* Buttons look active and clickable. Exclude label tags. */
div[role=button]:not(.hN) {
    box-shadow: 0 0 1px 0px #808080 !important;
}

/* Reduce side panel when it's collapsed */
.bAw.it {
    min-width: unset !important;
}

/* print_cleanup.js @print_cleanup Print view cleanup button */

/* color_by_recency.js @color_msglist Color message list by recency #disabled */

/* full_dates.js @full_dates Display full date and time #disabled */

/* highlight elements: %s/}/;box-shadow: inset 0 0 20px cyan;}/ */


